In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import warnings
warnings.filterwarnings('ignore')

In [2]:
oil = pd.read_csv('Oil.csv')

In [3]:
from prophet import Prophet

In [4]:
oil

            Date  Price
0     1985-01-02  25.92
1     1985-01-03  25.84
2     1985-01-04  25.18
3     1985-01-07  25.56
4     1985-01-08  25.48
...          ...    ...
9755  2023-05-17  72.83
9756  2023-05-18  71.86
9757  2023-05-19  71.55
9758  2023-05-22  71.99
9759  2023-05-23  72.91

[9760 rows x 2 columns]

In [5]:
oil.columns = ["ds","y"]

In [10]:
model = Prophet()
model.fit(oil)

16:02:58 - cmdstanpy - INFO - Chain [1] start processing
16:03:02 - cmdstanpy - INFO - Chain [1] done processing

In [7]:
future = model.make_future_dataframe(periods= 365, freq='d')
future

              ds
0     1985-01-02
1     1985-01-03
2     1985-01-04
3     1985-01-07
4     1985-01-08
...          ...
10120 2024-05-18
10121 2024-05-19
10122 2024-05-20
10123 2024-05-21
10124 2024-05-22

[10125 rows x 1 columns]

In [8]:
input_data = pd.DataFrame({'ds': ['2024-06-22']})
input_data

           ds
0  2024-06-22

In [9]:
forecast = model.predict(input_data)

In [10]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2024-06-22,86.782345,73.936019,101.529573,86.782345,86.782345,1.308583,1.308583,1.308583,-0.502135,-0.502135,-0.502135,1.810717,1.810717,1.810717,0.0,0.0,0.0,88.090928

In [11]:
import pickle

In [12]:
with open("p_model", "wb") as f:
    pickle.dump(model, f)